@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 550px;
  --card-width: calc(var(--card-height) / 1.7);
  --primary-color: #3a2d6a;
  --secondary-color: #4a3f87;
  --background-color: #14131d;
  --card-bg-color: #2d2a44;
  --text-color: #00d9ff;
  --highlight-color: #9b8dff;
  --border-color: #ff00f7;
  --shadow-color: rgba(255, 0, 247, 0.5);
}

.character img{
  border-radius: 30%;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem; /* Ajuste para flexibilidad */
}

.acerca, .lenguajes, .proyectos {
  padding: 5px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 65%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #768ab2, #4a3f87 43%, #505680
  );
  animation: spin 60s linear infinite;
  color: var(--text-color);
}

.acerca{
  align-items: center;
}

.detalles, .contacto{
  margin: auto;
  padding: 2.5%;
  width: 400px;
  max-width: 100%;
  background-color: var(--card-bg-color);
  border: 2px solid var(--border-color);
  border-radius: 15px;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.contacto a{
  color: #f1f1f1;
}

.title-header {
  margin-top: 0.5%;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: var(--border-color);
  text-align: center;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
}

.title-header h1, h3, h4 {
  animation-name: moveToRight;
  animation-duration: 3s;
}

.title-header a {
  color: #ff00f2;
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    left: -10000px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.title-header span {
  color: #d79ac9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.acerca h1{
  color: #f1f1f1;
}

.acerca span{
  color: #d79ac9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.acerca img {
  width: 50px;
}

.cards-container {
  margin-top: 0.5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

.card {
  margin: 20px;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  border: 2px solid var(--border-color);
  box-shadow: 0 4px 20px var(--shadow-color);
  transition: box-shadow 0.3s, border 0.3s;
}

* {
  box-sizing: border-box;
}

.cover-image {
  width: 100%;
  height: var(--card-height);
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card::before {
  background-color: #191c29;
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #3a2d6a, #4a3f87 43%, #3e2a6b
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 60s linear infinite;
}

.card::after {
  content: "";
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  background-image: linear-gradient(
    var(--rotate),
    #8765ff, #1f00cf 43%, #3e2a6b
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 60s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card:hover .wrapper {
  transform: translateY(-2.5%) rotateX(0deg) translateZ(0);
  filter: brightness(1.5%);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 1s;
  position: absolute;
  left: 0;
}

.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.title {
  width: 100%;
  transition: transform 0.5s;
  background-color: rgba(0, 0, 0, 0.562);
  border-radius: 15px;
}

.card:hover .title {
  transform: translate3d(0%, -90px, 500px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 2s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -50%, 50px);
}

.proyectos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.proyecto {
  width: 325px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px var(--shadow-color);
  background-color: var(--card-bg-color);
  padding: 15px;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
}

.proyecto img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid var(--border-color);
  max-width: 600px;
  max-height: 300px;
  object-fit: cover;
}

.proyecto h3 {
  margin: 15px 0 10px;
  font-size: 1.2em;
  color: #f1f1f1;
}

.proyecto p {
  margin: 0;
  font-size: 0.9em;
  color: var(--text-color);
}

.proyecto-buttons {
  margin-top: 10px;
  text-align: center;
}

.proyecto-buttons a{
  color: #350000;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--highlight-color);
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: var(--border-color);
  transform: scale(1.05);
}

.lenguajes {
  padding: 5px;
  margin: auto;  
  margin-top: 2%;
  margin-bottom: 2%;
  width: 65%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #768ab2, #4a3f87 43%, #505680
  );
  animation: spin 60s linear infinite;
}

.lenguajes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.lenguaje {
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px var(--shadow-color);
  background-color: var(--card-bg-color);
  padding: 15px;
  text-align: center;
  max-width: 100%;
}

.lenguaje h3 {
  margin: 15px 0 10px;
  font-size: 1.2em;
  color: #f1f1f1;
}

.lenguaje p {
  margin: 0;
  font-size: 0.9em;
  color: var(--text-color);
}

/* Media Queries para hacer el sitio responsive */
@media (max-width: 768px) {
  .acerca, .lenguajes, .proyectos {
    width: 90%;
  }

  .detalles, .contacto {
    padding: 2%;
  }

  .proyectos-grid, .lenguajes-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .title-header {
    font-size: 1.5rem;
  }

  .title-header h1, h3, h4 {
    font-size: 1.2rem;
  }

  .proyecto img, .cover-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .wrapper {
    height: auto;
  }
}
